
mnist/data/train\.csv

mnist/data/test\.csv

mnist/data/sample_submission\.csv

mnist/model/cnn/checkpoint

mnist/model/cnn/cnn_model\.data-00000-of-00001

mnist/model/cnn/cnn_model\.index

mnist/model/cnn/cnn_model\.meta
